<div class="user-details">
  <h1>About Me</h1>
  <p>Hello! My Name is Reynardo Etenia Wongso I am just an ordinary little kid, just trying to have some fun on the internet.</p>
  <p>I do whatever I can do just to have fun, I usually shoot pictures on my free time even though it's not the best picture you can check it out if you want to <a href="https://unsplash.com/@reynardoew/" rel="unsplash" title="Reynardo Etenia Wongso Photos on Unsplash">Reynardo Etenia Wongso Unsplash Page</a> or my Instagram Page <a href="https://instagram.com/reynardoew/" rel="reynardoew" title="Instagram @reynardoew">@reynardoew</a></p> 
  <p>I’m not really an artist but I do have my song up on major stores like Spotify, Youtube, Apple Music, Tidal, Amazon Music, and other you can check my artist page by searching my name “Reynardo Etenia Wongso” my voice really sucks tho I only do it for the lulz.</p>
  <p>Check out my song “Ngai An Tienci”</br>
  <a href="https://open.spotify.com/track/4wfxXfZPfyPms7reLa7CUg?si=tXHNa2Z7SoqnQT56IzLKKA" rel="spotify" title="Ngai An Tienci on Spotify">Ngai An Tienci on Spotify</a></br>
  <a href="https://www.youtube.com/watch?v=aEpE3cHEQdc" rel="youtube" title="Ngai An Tienci on Youtube">Ngai An Tienci on Youtube</a></br>
  <a href="https://music.apple.com/id/album/ngai-an-tienci/1530324339?i=1530324340" rel="applemusic" title="Ngai An Tienci on Apple Music">Ngai An Tienci on Apple Music</a></br>
  <a href="https://tidal.com/browse/track/154291310" rel="tidal" title="Ngai An Tienci on Tidal">Ngai An Tienci on Tidal</a>
  <a href="https://www.beatport.com/artist/reynardo-etenia-wongso/911677" rel="tidal" title="Reynardo Etenia Wongso on Beatport">Reynardo Etenia Wongso on Beatport</a>
  </p>
<p>Check my Instagram filters! Instagram Profile at @<a href="https://instagram.com/reynardoew/" rel="reynardoew" title="Instagram @reynardoew">reynardoew</a></p>
  </div>


<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Photography</h2>
    <p>I'm not that great in shooting photo but I will keep learning!</p>
  </div>
  <div class="tech">
    <h2>Code</h2>    
    <p>My main development languages are JavaScript, but I have worked with C#, Python, and more.</p>
  </div>
</div>
