<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Reynardo Etenia Wongso</title>
  <meta name="description" content="Hello! My Name is Reynardo Etenia Wongso I am just an ordinary little kid, just trying to have some fun on the internet. I’m not really an artist but I do have my song up on major stores. I usually shoot pictures on my free time even though it's not the best">
  <!-- Primary Meta Tags -->
  <meta name="title" content="Reynardo Etenia Wongso ">
  <meta name="description" content="Hello! My Name is Reynardo Etenia Wongso I am just an ordinary little kid, just trying to have some fun on the internet. I’m not really an artist but I do have my song up on major stores. I usually shoot pictures on my free time even though it's not the best">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://rey.wtf/">
  <meta property="og:title" content="Reynardo Etenia Wongso">
  <meta property="og:description" content="Hello! My Name is Reynardo Etenia Wongso I am just an ordinary little kid, just trying to have some fun on the internet. I’m not really an artist but I do have my song up on major stores. I usually shoot pictures on my free time even though it's not the best">
  <meta property="og:image" content="https://rey.wtf/assets/headerforweb.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://rey.wtf/">
  <meta property="twitter:title" content="Reynardo Etenia Wongso">
  <meta property="twitter:description" content="Hello! My Name is Reynardo Etenia Wongso I am just an ordinary little kid, just trying to have some fun on the internet. I’m not really an artist but I do have my song up on major stores. I usually shoot pictures on my free time even though it's not the best">
  <meta property="twitter:image" content="https://rey.wtf/assets/headerforweb.jpg">
  
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
</head>
